body {
    background-color: bisque;
    font-size: 10px;
}

p {
    font-family: "Comic Sans MS";
}

.blue-border {
    color: blue;
    text-align: justify;
    border: 1px solid blue;
}

.green-border {
    border: 3px dotted green;
    text-align: right;
}

#last {
    font-size: 16px;
    font-family: "Arial";
}