
html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}
* {
margin: 1%;
font-family: Arial, Helvetica, sans-serif;
font-weight:bold;
font-size: 40px;
font-size: 2.5rem; /* relativo al tamaño por defecto  de la fuente, em:relativo al tamaño de la fuente del elemento padre */
font-size: 3vw; /* responsive, relativo al tamaño  de la pantalla, pero es la única que no lo es al zoom */
font-size: 3vh;
font-size: clamp(0.5rem, 3vw, 1.5rem); /* mínimo, preferido y máximo  */
font-size: clamp(0.5rem, calc(3vw + 1rem), 1.5rem); /*solución al zoom  */ 
border-radius: 40px;
text-align: center;
height: 100%;
/* height: 100vh; */


}
body{
    overflow: hidden;
    /* height: 100vh; */
}
nav{
    background-color:rgb(218, 113, 195);
    height:fit-content;
    align-content: center ;
    border: solid 3px rgba(0, 0, 0, 0.336);
    /* margin-top: 1%; */
}
main{
    display: flex; 
    height:80%;
}
 article{
    width: 100%;
    align-content: center;
    margin-top: 0; 
}  
header{
    background-color: rgb(64, 202, 110);
    height: calc( 100% - 65% );
    text-align: left;
    padding: 3%;
    margin: 0% 2% 3% 0;
}
section{
    background-color: rgb(169, 139, 197);
   float:left;
   width: calc( 50% - 5%);
   height: 45%;
   padding-top: 3%; 
}
section~section{
    margin-left: 3%;
}
aside{background-color: rgb(245, 168, 143);
   width: calc( 100% - 80%);
   padding-top: 3%;
    height: auto;
}
footer{
    background-color: blanchedalmond;
    margin: 0%;
    height: 9%;
    align-content: center ;
}