* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-font: white;
    --color-font-sec: #AAAAAA;
    --color-link: #bf9ff2;
    --color-link2: #00CFFF;
    --color-link3: #FF6EC7;

    --color-menu1: linear-gradient(90deg, #a498c1, #47478e, #6b4cb2);

    font-size: 16px;
}

h2 {
    font-size: 2em;
}

body {
    width: 100dvw;
    height: 100dvh;
    background: linear-gradient(135deg, #1A1A2E, #0F0F1F);
    color: var(--color-font);
    height: 100dvh;
}

header {
    height: 20dvh;
    display: flex;
}

#presentacion {
    margin: auto;
    text-align: center;
    object-fit: cover;
    width: 70%;
}

#logo {
    margin-left: auto;
}

#logo > img {
    inline-size: 20dvh;
    aspect-ratio: 1;
    object-fit: cover;
    margin-left: auto;
    /* border-radius: 50%; */
}

nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    border-top: solid 2px;
    border-image: linear-gradient(90deg, #a498c1, #47478e, #6b4cb2) 1;
    border-bottom: solid 2px red;;
    /* background: linear-gradient(135deg, #3A0CA3, #47478e, #3A0CA3); */
}

.link {
    color: var(--color-link);
    margin: 0.5rem auto;
}

.link:hover {
    color: var(--color-link2);
}

/* .link:visited {
    color: var(--color-link3    )
} */