* {
    padding: 0;
    margin: 2px;
    box-sizing: border-box;
}

img {
    height: 200px; 
    border-width: 10px;
    border-style: solid;

}

#foto1 {
    border-color: rgb(115, 11, 11) brown brown rgb(115, 11, 11) ;
    float: left;
    margin-right: 15px;
}
#foto2 {
    border-color: brown rgb(115, 11, 11)  rgb(115, 11, 11) brown;
    float: right;
    margin-left: 15px;

}

p {
    font-family: 'Arial';
    margin-bottom: 20px;
    text-align: justify;
}

p::first-letter {
    font-size: 35px;
}