/*
	¡¡¡ESTE ARCHIVO NO SE TOCA!!!
	NO TIENES QUE HACER NADA AQUÍ...
*/
body { font-family: Arial; text-align: center; }

#contenedor {
	display: grid;
	grid-template-columns: 50% 50%;
}

#zona1 {
	background-color: lightblue;
	color: darkblue;
	grid-column: 1/3;
}

#zona2 {
	background-color: pink;
	padding: 20px;
}

#zona3 {
	padding: 20px;
}

h2 {
	color: darkred;
}

h3 {
	color: #FD8130;
}

div {
	border: 2px solid black;
}