html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

nav, header, section, aside, footer  {
    border-radius: 30px;
    margin: 1em 10px;
    padding: 1%;
    text-align: center;
    font-weight: bold;
}

nav {
    border: 1px solid black;
    background-color: #DB96E8;
}

main {
    height: 75vh;
    width: 95%;
    margin: 0 auto;
}

header {
    background-color: #7CEC8F;
    width: 75%;
    height: 40%;
    text-align: left;
    float: left;
}

section {
    background-color: #B69EE1;
    width: 35%;
    height: 50%;
    display: block;
    float: left;
}

aside {
    background-color: #F09B9A;
    width: 20%;
    height: 95%;
    float: right;
}

footer {
    background-color: #EFE991;
}