<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Grid 1</title>
</head>
<body>
    <aside>
        <section class="aside1">1</section>
        <section class="aside2">2</section>
        <section class="aside3">3</section>
    </aside>

    <main>
        <nav class="header">
            <header>
                <section class="header1">1</section>
                <section class="header2">2</section>
                <section class="header3">3</section>
            </header>
            <header>
                <section class="header4">4</section>
                <section class="header5">5</section>
            </header>
        </nav>

        <nav class="down">
            <main class="main-down">
                <article class="long">
                    <section class="big">1</section>
                </article>
            </main>
            <main class="main-down">
                <article class="shorts">
                    4
                </article>
            
                <article class="shorts">
                    5
                </article>
            </main>
        </nav>
    </main>
</body>
</html>