body {
    font-family: 'Arial';
    background-image: url('./fondos/fondo_deporte.jpg');
    color: blue;
    font-weight: bold;
}

h1, h2 {
    color: purple
}

ol {
    list-style-type: upper-roman;
}

#futbol {
    list-style-image: url('./iconos/pelota_futbol.png');
}

#baloncesto {
    list-style-image: url('./iconos/pelota_basket.png');
}

.spain {
    list-style-image: url('./iconos/bandera_españa.png');
}

.argentina {
    list-style-image: url('./iconos/bandera_argentina.png');
}

.usa {
    list-style-image: url('./iconos/bandera_eeuu.png');
}