@media (max-width: 768px) {
    .index-list {
        grid-template-columns: 1fr;
    }

    .index-list {
        grid-template-columns: 1fr;
    }
    
    
}

@media (min-width: 701px) {
    /*
        Biography
    */
    #members, section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #members > section {
        display: flex;
        flex-direction: row;
    }
    
    .infoMember {
        width: 30%;
        text-align: center;
        margin: 10px;
    }
    
    .descMember {
        width: 70%;
        margin: 10px;
    }

    /*
        DISCOGRAPHY
    */

    #discography > section {
        display: grid;
        grid-template-columns: 25% 20% 5% 20% 30%;
        gap: 10px;
        width: 100%;
        text-align: center;
        align-content: center;
    }
}

@media (max-width: 480px) {
    .index-list {
        padding: 15px;
    }
    
    .track-list li {
        padding-left: 25px;
    }
    
    .track-list li::before {
        width: 20px;
    }
    
    .index-list a {
        padding-left: 25px;
    }
    
    .index-list {
        padding: 15px;
    }
    
    .tour-section {
        padding: 15px;
    }
}
