html {
    box-sizing: border-box;
}
*, *::after, *::before {
    margin: 0;
    padding: 0;
}
#item1 {
    display: none;
}

aside, header article, section { 
    background-color: #00FFFF;
}

#item2 {
    display: grid;
    grid-template-areas: "aside aside header header header header"
                        "aside aside article1 article1 article2 article2"
                        "aside aside article1 article1 article2 article2"
                        "aside aside article1 article1 article2 article2"
                        "aside aside article1 article1 article2 article2"
                        "aside aside article1 article1 article2 article2"
                        "aside aside article1 article1 article2 article2"
                        "aside aside article1 article1 article2 article2"
                        "aside aside article1 article1 article3 article3"
                        "aside aside article1 article1 article3 article3"
                        "aside aside article1 article1 article3 article3"
                        "aside aside article1 article1 article3 article3"
                        "aside aside article1 article1 article3 article3"
                        "aside aside article1 article1 article3 article3"
                        "aside aside article1 article1 article3 article3";
    padding: 1rem;
    height: 95dvh;
}

aside {
    display: grid;
    grid-area: aside;
    border: 2px solid black;
    grid-template-areas: "a1"
                        "a1"
                        "a1"
                        "a1"
                        "a1"
                        "a1"
                        "a1"
                        "a2"
                        "a3"
                        "a3"
                        "a3"
                        "a3";
    padding: 1rem;
}
.a1 {
    grid-area: a1;
    margin-bottom: 1rem;
}
.a2 {
    grid-area: a2;
    margin-bottom: 1rem;
}
.a3 {
    grid-area: a3;
    margin-bottom: 1rem;
}

header {
    display: grid;
    grid-area: header;
    margin-left: 1rem;
    grid-template-areas: "r1"
                        "r2";
    height: 30dvh;
    border: 2px solid black;
}
#row1 {
    display: grid;
    grid-area: r1;
    grid-template-areas: "h1 h2 h2 h3";
    padding: 1rem;
}
#row2 {
    display: grid;
    grid-area: r2;
    grid-template-areas: "h4 h4 h4 h5 h5";
    padding: 1rem;
}

section {
    border: 2px solid black;    
}
.h1 {
    grid-area: h1;
    margin: 1rem;
}
.h2 {
    grid-area: h2;
    margin: 1rem;
}
.h3 {
    grid-area: h3;
    margin: 1rem;
}
.h4 {
    grid-area: h4;
    margin: 1rem;
}
.h5 {
    grid-area: h5;
    margin: 1rem;
}

.e1{
    grid-area: "e1";
}
.e2 {
    grid-area: "e2";
}
.e3 {
    grid-area: "e3";
}

#art3 {
    display: grid;
    grid-area: article1;
    margin: 0 1rem;
    border: 2px solid black;
    padding: 1rem;
    background-color: #00FFFF;
}
.sec1 {
    border: 2px solid black;
}

#art4 {
    display: grid;
    grid-area: article2;
    background-color: #00FFFF;
    border: 2px solid black;
    margin-bottom: 1rem;

}
#art5 {
    display: grid;
    grid-area: article3;
    background-color: #00FFFF;
    border: 2px solid black;
}



@media (min-width: 700px) {
    #item2 {
        display: none;
    }
    #item1 {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1%;
        margin-bottom: 1%;
        height: 100dvh;
    }

    section {
        border: 0px solid black;
    }
    .e1 {
        background-color: #C9316B;
        grid-column: 1/3;
    }
    .e2{
        background-color: #CA319D;
        grid-column: 3/7;
        grid-row: 1/3;
    }
    .e3 {
        background-color: #ED6E62;
        grid-column: 7/11;
        grid-row: 1/5;
    }
    .e4 {
        background-color: #EFC437;
        grid-column: 11/13;
    }
    .e5 {
        background-color: #538C45;
        grid-column: 1/3;
    }
    .e6 {
        background-color: #267C87;
        grid-column: 11/13
    }
    .e7 {
        background-color: #799928;
        grid-column: 1/3;
    }
    .e8 {
        background-color: #478755;
        grid-column: 3/4;
    }
    .e9 {
        background-color: #30C9C2;
        grid-column: 4/7;
    }
    .e10 {
        background-color: #31C98F;
        grid-column: 11/13;
    }
    .e11 {
        background-color: #544079;
        grid-column: 1/7;
    }
    .e12 {
        background-color: #DE212F;
        grid-column: 11/13;
    }
}