/*
	¡¡¡ESTE ARCHIVO NO SE TOCA!!!
	NO TIENES QUE HACER NADA AQUÍ...
*/
body { font-family: Arial; text-align: center; }

#contenedor {
	display: grid;
	grid-template-columns: 50% 50%;
}

#zonaNegra {
	background-color: black;
	color: white;
	grid-column: 1/3;
	line-height: 100px;
}

#zonaGris {
	background-color: lightgray;
	height: 500px;
	padding: 20px;
}

#zonaAmarilla {
	background-color: lightyellow;
	height: 500px;
	padding: 20px;
}

#zonaGris > ol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
	margin: auto;
}

h3 {
	color: red;
}